body { 
  background: url('../images/background1.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: 'Arimo', sans-serif;
}

.page-header {
 background-color: #7B68EE;
 color: white;
 font-family: 'Lobster', cursive;
 margin-bottom: 20px;
 margin-top: 0;
 text-align: center;
 padding: 10px;
 border: none;
}

h1 {
  margin-top: 10px;
}

#submit-area {
  background-color: transparent;
  margin: 0 auto;
  text-align: center;
  width: 300px;
}

.btn {
  display: inline-block;
  vertical-align: middle;
  color: #7B68EE;
  background-color: white;
}

.btn:hover {
  color: white;
  background-color: #7B68EE;
  size: 1.1rem;
  box-shadow: 0 0 5px gold;
}


.burger {
  width: 300px;
  margin: 5px auto !important;
}

#icon {
  height: 20px;
  width: 20px;
  vertical-align: center;
}

#icon2 {
  height: 30px;
  width: 30px;
  vertical-align: center;
}

.panel {
  margin: 10px;
  background-color: transparent;
  border: none;
}

.panel-body {
  border: none;
}

.panel-header {
  border-radius: 5px;
  color: white;
  font-family: 'Lobster', cursive;
  margin-bottom: 5px;
  padding: 5px;
  text-align: center;
  text-decoration: underline;
  text-shadow: 2px 2px 5px #7B68EE;  
}

#eaten,
#uneaten {
  
  padding: 10px;
}

.burger {
  margin: 5px;
  border: 2px solid #7B68EE;
}

textarea {
  outline: none;
  border-radius: 5px;
  border: 2px solid #7B68EE;
  width: 100%;
}
